table {
  border-collapse: collapse;
  width: calc(100% - 40px);
  align-self: "center";
  margin: 20px;
}

th {
  background-color: #fafafc;
  color: #a7a7a9;
  padding: 20px 15px;
}

td,
th {
  border: 1px solid #ddd;
  border-color: #ddd;
  border-style: solid;
  text-align: left;
}

td {
  padding: 10px 15px;
}

tr:hover td {
  background-color: #f5f5f5;
}
