.sas-table {
  border-collapse: collapse;
  width: calc(100% - 40px);
  align-self: "center";
  margin: 20px;
  table-layout: fixed;
}

.sas-table th {
  background-color: #fafafc;
  color: #a7a7a9;
  padding: 20px 15px;
}

.sas-table td,
th {
  border: 1px solid #ddd;
  border-color: #ddd;
  border-style: solid;
  text-align: left;
}

.sas-table td {
  padding: 10px 15px;
}

.sas-table tr:hover td {
  background-color: #f5f5f5;
}

.sas-table-age-header:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
